#navbar {
  background-color: #3392a7;

  i{
    color: #B2DFDB;
  }
}

@media screen and (max-width: 575px){
  #navbar{
    background-color: #3392a7;

    ul{
      display: block;
      margin-top: 7px;
      margin-bottom: 7px;
    }

    ul li{
      display: inline;
      text-align: left;

      i{
        color: #B2DFDB;
      }
    }
  }
}